$hw-dark: #4c3638;
$hw-light: #D3A481;
$sl-dark: #276F45;
$sl-light: #A8B0BF;
$gryf-dark: #702737;
$gryf-light: #DAA520;
$rav-dark: #274F70;
$rav-light: #C98C4E;
$huff-dark: #141414;
$huff-light: #D1B738;

.game-section {
  height: 90vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.game-results {
  background-color: $hw-dark;
  grid-column: 2/4;
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: $hw-light;
  text-align: center;
  &.gryffindor {
    background-color: $gryf-dark;
    color: $gryf-light;
  }
  &.slytherin {
    background-color: $sl-dark;
    color: $sl-light;
  }
  &.hufflepuff {
    background-color: $huff-dark;
    color: $huff-light;
  }
  &.ravenclaw {
    background-color: $rav-dark;
    color: $rav-light;
  }
}

.game-results-title {
  font-size: 3em;
}

.game-results-score {
  font-size: 2em;
}

.game-results-quote {
  font-size: 2em;
}

.home-btn {
  font-size: 2em;
  text-decoration: none;
  background-color: $hw-dark;
  color: $hw-light;
  border-radius: 3px;
  padding: 5px;
  border: 3px solid $hw-light;
  &:hover {
    background-color: $hw-light;
    color: $hw-dark;
  }
  &.gryffindor {
    background-color: $gryf-dark;
    color: $gryf-light;
    border: 3px solid $gryf-light;
    &:hover {
      background-color: $gryf-light;
      color: $gryf-dark;
    }
  }
  &.slytherin {
    background-color: $sl-dark;
    color: $sl-light;
    border: 3px solid $sl-light;
    &:hover {
      background-color: $sl-light;
      color: $sl-dark;
    }
  }
  &.hufflepuff {
    background-color: $huff-dark;
    color: $huff-light;
    border: 3px solid $huff-light;
    &:hover {
      background-color: $huff-light;
      color: $huff-dark;
    }
  }
  &.ravenclaw {
    background-color: $rav-dark;
    color: $rav-light;
    border: 3px solid $rav-light;
    &:hover {
      background-color: $rav-light;
      color: $rav-dark;
    }
  }
}