$hw-dark: #4c3638;
$hw-light: #D3A481;
$sl-dark: #276F45;
$sl-light: #A8B0BF;
$gryf-dark: #702737;
$gryf-light: #DAA520;
$rav-dark: #274F70;
$rav-light: #C98C4E;
$huff-dark: #141414;
$huff-light: #D1B738;

.navigation {
  grid-column: 2/4;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.icon-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-screen-img {
  display: flex;
  height: 185px;
  &:hover {
    transform: scale(1.1);
    cursor: pointer;
  }
}

.sorting-hat {
  grid-column: 1/3;
  // border-bottom: 5px solid $hw-dark;
}

label {
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 10px;
}

.sorting-hat,
.characters,
.instructions {
  background-color: $hw-light;
  color: $hw-dark;
  &.gryffindor {
    background-color: $gryf-light;
    color: $gryf-dark;
  }
  &.slytherin {
    background-color: $sl-light;
    color: $sl-dark;
  }
  &.hufflepuff {
    background-color: $huff-light;
    color: $huff-dark;
  }
  &.ravenclaw {
    background-color: $rav-light;
    color: $rav-dark;
  }
}

.golden-snitch,
.wand {
  color: $hw-light;
  &.gryffindor {
    color: $gryf-light;
  }
  &.slytherin {
    color: $sl-light;
  }
  &.hufflepuff {
    color: $huff-light;
  }
  &.ravenclaw {
    color: $rav-light;
  }
}