$hw-dark: #4c3638;
$hw-light: #D3A481;
$sl-dark: #276F45;
$sl-light: #A8B0BF;
$gryf-dark: #702737;
$gryf-light: #DAA520;
$rav-dark: #274F70;
$rav-light: #C98C4E;
$huff-dark: #141414;
$huff-light: #D1B738;

aside {
  width: 100%;
  background-color: $hw-light;
  color: $hw-dark;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  &:gryffindor {
  background-color: $gryf-light;
  }
}

.crest {
  height: 350px;
}

.user-name {
  font-size: 2.5em;
  text-align: center;
}

.user-wizardkind,
.user-wand {
  font-size: 1.75em;
  text-align: center;
}