$hw-dark: #4c3638;
$hw-light: #D3A481;
$sl-dark: #276F45;
$sl-light: #A8B0BF;
$gryf-dark: #702737;
$gryf-light: #DAA520;
$rav-dark: #274F70;
$rav-light: #C98C4E;
$huff-dark: #141414;
$huff-light: #D1B738;

.instructions-section {
  height: 90vh;
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  // background-color: blue;
}

.instructions-content {
  grid-column: 2/4;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  color: $hw-light;
}

.screenshot1 {
  max-width: 50%;
  height: auto;
  border-radius: 10px;
  border: 10px solid $hw-light;
}

.howtoplay-h1 {
  font-size: 2.5em;
  // background-color: blue;
  width: 60%;
  border-bottom: 5px solid $hw-light;
}

.howtoplay-h2 {
  font-size: 1.5em;
}

p {
  font-size: 1.5em;
}