$hw-dark: #4c3638;
$hw-light: #D3A481;
$sl-dark: #276F45;
$sl-light: #A8B0BF;
$gryf-dark: #702737;
$gryf-light: #DAA520;
$rav-dark: #274F70;
$rav-light: #C98C4E;
$huff-dark: #141414;
$huff-light: #D1B738;

@font-face {
  font-family: 'harry_pregular';
  src: url('../fonts/harryp__-webfont.woff') format('woff'),
       url('../fonts/harryp__-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0px;
  padding: 0px;
  transition: ease all .3s;
}

main {
  background-color: $hw-dark;
  height: 100vh;
}

.game-title,
.modal-title {
  font-family: 'harry_pregular';
  font-size: 6em;
}

.game-title {
  color: $hw-light;
}

.modal-title {
  color: $hw-dark;
}

.modal {
  background-color: $hw-light;
  color: $hw-dark;
  height: 100%;
  width: 100%;
  z-index: 1;
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal-img {
  height: 300px;
  &:hover {
    transform: scale(1.2);
    cursor: pointer;
  }
}

.modal-gif {
  display: none;
}

